# === PostgreSQL ===
POSTGRES_USER=accent
POSTGRES_PASSWORD=accent_dev_pw
POSTGRES_DB=accent_trainer
POSTGRES_PORT=5432

# === Redis ===
REDIS_PORT=6379

# === MinIO ===
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_dev_pw
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Buckets создадим автоматически через init-контейнер
MINIO_BUCKET_USER_RECORDINGS=user-recordings
MINIO_BUCKET_REFERENCE_AUDIO=reference-audio
MINIO_BUCKET_SPECTROGRAMS=spectrograms